<li id="user-<%= user.id %>">
  <%= image_tag(user.image_url, class: "user-image") %>
  <span class="user"><%= link_to user.name, users_show_path(user.nickname) %>  @<%=link_to user.nickname, users_show_path(user.nickname) %>  </span>
  <%= following_check(user) %>
  <%= twitter_link(user) %>
  <span class="newest_emo">
  　<%= newest_emo(user) %>
  </span>
</li>
